/** @format */

h1 {
  color: aqua;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  text-align: center;
}

#box1 {
  height: 100px;
  width: 200px;
  background-color: cyan;
  /* static is a defulat case */
  position: static;
}
#box2 {
  height: 100px;
  width: 200px;
  background-color: yellow;
  position: fixed;
  top: auto;
  background-image: inherit;
}
#box3 {
  height: 100px;
  width: 200px;
  background-color: deeppink;
  position: relative;
}
#box4 {
  height: 100px;
  width: 200px;
  background-color: rgb(63, 20, 255);
  position: sticky;
}
